html {
  font-size: 62.5%;
}
body {
  font-family: "Work Sans", sans-serif;
}

/* Gradient Text */

.gt {
  background-image: linear-gradient(
    rgba(249, 72, 178, 1),
    rgba(135, 88, 241, 1)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Navbar Start */
header {
  background-color: white;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
}
.navbar,
.banner-container,
.gm-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.5rem 0rem;
}

.lg {
  font-weight: 700;
  font-size: 4rem;
  color: #0b0223;
}
.lgx {
  color: #ff42a5;
}

.menu {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.nav-list {
  display: flex;
  gap: 2rem;
}
.list {
  list-style: none;
}
.nav-link,
.btn-txt {
  color: #3c354f;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.8rem;
  transition: 0.5s all ease;
}
.nav-link:hover {
  color: #ff42a5;
  border-bottom: 1px solid #ff42a5;
}
.btn-nav {
  background: rgba(11, 2, 35, 0.1);
  border: none;
  border-radius: 8px;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.btn-img {
  cursor: pointer;
}

/* Navbar End */

/* Banner Start */

.banner-container {
  background: linear-gradient(
    235deg,
    rgba(140, 87, 238, 0.03) 0%,
    rgba(241, 68, 174, 0.03) 100%
  );
}
.bnr-img,
.gm-img {
  width: 50rem;
}
.bnr-img {
  margin-top: 5rem;
}
.bnr-info {
  display: flex;
  flex-direction: column;
  padding-top: 10rem;
  padding-bottom: 8rem;
}
.bnr-h1 {
  color: #0b0223;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 5rem;
  text-align: center;
}
.bnrx {
  margin-top: 2rem;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 9.5rem;
}

.bnr-desc,
.bnr-btns {
  display: flex;
  align-items: center;
}
.bnr-txt,
.bnr-btns {
  margin-top: 2rem;
}
.bnr-desc {
  margin: 1rem;
}
.bnr-desc img {
  margin-right: 1rem;
}
.bnr-btns {
  justify-content: space-between;
  padding: 0 1rem;
}
.bnr-btn {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  border-radius: 3rem;
  padding: 1.5rem 4rem;
  color: white;
  transition: 0.5s all ease;
  cursor: pointer;
}
.btn1 {
  background-color: #ff42a5;
  padding: 1.5rem 5rem;
}
.btn1:hover,
.gm-btn:hover, .ftr-btn:hover {
  background-color: #fd0083;
}
.btn2 {
  background-color: #4ec5f7;
}
.btn2:hover {
  background-color: #048cc6;
}

/* Banner End */

/* Gamer Start */
.gm-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  padding: 5rem 15rem;
}
.gm-info {
  width: 45%;
  text-align: right;
}
.gm-text {
  font-weight: 700;
  font-size: 4.8rem;
  text-transform: capitalize;
}
.gm-desc {
  color: #534c64;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  margin-top: 2rem;
}
.gm-btn {
  margin-top: 2rem;
  border: none;
  color: white;
  text-transform: uppercase;
  border-radius: 3rem;
  font-weight: 600;
  font-size: 1.5rem;
  transition: 0.5s all ease;
  cursor: pointer;
}

.gm-desc2 {
  margin-top: 2rem;
  color: #534c64;
  font-weight: 500;
  line-height: 4.5rem;
  font-size: 2.4rem;
}
.gm-desc3 {
  margin-top: 1rem;
  color: #534c64;
  font-weight: 700;
  line-height: 4.5rem;
  font-size: 3.2rem;
}

/* Gamer End */

/* Online Games Start */
.og-container {
  text-align: center;
  padding: 5rem 15rem;
}
.og-photos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 4rem;
  margin-right: 4rem;
}


.og-title,
.pg-title {
  color: #0b0223;
  font-size: 4.8rem;
  text-transform: capitalize;
  font-weight: 700;
}
.og-desc,
.pg-desc {
  font-size: 1.8rem;
  margin-top: 2rem;
  font-weight: 400;
  line-height: 3rem;
  color: #534c64;
}
.og-img {
  width: 25rem;
  border-radius: 16px;
}
.og-img-txt {
  font-weight: 500;
  color: #534c64;
  font-size: 1.9rem;
  margin-top: 2rem;
}

/* Online Games End */

/* Play Games Start */
.pg-container {
  padding: 5rem 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pg-info {
  width: 60%;
  text-align: left;
  margin-left: 13rem;
}
.pg-img-cnt {
  position: relative;
  width: 40%;
  height: 100%;
}
.pg-img1 {
  width: 40rem;
  margin-left: 5rem;
}
.pg-img2 {
  width: 15rem;
  position: absolute;
  bottom: -3.8rem;
  right: -4.6rem;
}

/* Play Games End */

/* Game List Start */

.gl-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 15rem;
  flex-wrap: wrap;
  gap: 2rem;
}

.gl-img-cnt {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 600;
  gap: 1rem;
  border: 0.75px solid transparent;
  border-radius: 5rem;
  padding: 1rem;
  transition: 0.5s all ease;
  cursor: pointer;
}
.gl-img-cnt:hover {
  border: 0.75px solid #ff42a5;
  color: #ff42a5;
}
.socials > a > img {
  width: 5rem;
}

/* Game List End */

/* Footer Start */

.footer-container {
  background-color: #0b0223;
  padding: 6rem 15rem;
}
.ftr-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ft-lg {
  color: white;
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.links > li {
  margin: 0 2rem;
}

.links > li > a {
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  font-weight: 600;
  font-size: 1.8rem;
  transition: 0.25s all ease;
}
.links > li > a:hover {
  color: #ff42a5;
}
.socials {
  margin-top: 5rem;
  display: flex;
  gap: 4rem;
}
.links2 {
  margin-top: 5rem;
}
.links2 > li > a {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  font-size: 1.6rem;
}

.ftr-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 5rem;
}
.ftr-desc {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  font-size: 1.6rem;
}
.ftr-desc > a {
  text-decoration: none;
  color: #ff42a5;
}
.ftr-btn {
  margin: 3rem 0;
  background-color: #ff42a5;
  border: none;
  border-radius: 50px;
  padding: 1rem 2rem;
}
.ftr-btn > a {
  text-decoration: none;
  color: white;
}
.ftr-txt {
  color: white;
}

/* Footer End */